@model Models.Course

@{
    ViewBag.Title = "Modification d'un cours";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Creating = false;
}

<div class="pageHeader">
    <div class="pageTitle">
        <a href="@Url.Action("Index", "Students")" title="Accueil">
            <span class="mainRedIcon fa fa-user"></span>
        </a>

        <span>Modification d'un cours</span>
    </div>

    <div class="pageCommands">
        <a href="@Url.Action("Details", "Courses", new { id = Model.Id })" title="Annuler">
            <span class="icon fa fa-times-square"></span>
        </a>
    </div>
</div>

@Html.Partial("CourseForm", Model)

@section Scripts {
    <script src="~/scripts/selections.js"></script>
}